/********************* STYLES FOR FLEX TOUR ********************/
/********************* BUBBLES STYLE ***************************/
/** Credits to: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/ **/
.flextour-tour-bubble {
  position: relative;
  width: 450px;
  height: auto;
  padding: 5px;
  background: #2F4F4F;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #2F4F4F solid 3px;
  text-align: left;
  margin: 1em 0 3em;
  color: #FFFFFF;
  z-index: 20;
}

.flextour-tour-bubble .right:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #2F4F4F;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -15px;
  left: -15px;
  top: 50%;
}

.flextour-tour-bubble .right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 17px 17px 17px 0;
  border-color: transparent #2F4F4F;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -17px;
  left: -20px;
  top: 50%;
}

.flextour-tour-bubble .left:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 17px 0 17px 17px;
  border-color: transparent #2F4F4F;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -17px;
  right: -20px;
  top: 50%;
}

.flextour-tour-bubble .left:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent #2F4F4F;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -15px;
  right: -15px;
  top: 50%;
}

.flextour-tour-bubble .bottom:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 17px 17px;
  border-color: #2F4F4F transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -17px;
  top: -20px;
  left: 50%;
}

.flextour-tour-bubble .bottom:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #2F4F4F transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  top: -15px;
  left: 50%;
}

.flextour-tour-bubble .top:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 17px 17px 0;
  border-color: #2F4F4F transparent;
  display: block;
  width: 0;
  z-index: 0;
  margin-left: -17px;
  bottom: -20px;
  left: 50%;
}

.flextour-tour-bubble .top:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #2F4F4F transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  bottom: -15px;
  left: 50%;
}

.flextour-button-group {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #F4511E;
  border: none;
  color: #FFFFFF;
  font-size: 12pt;
  padding: 10px;
  width: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.flextour-button-group span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.flextour-skip-button span:before {
  content: "<<";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.flextour-skip-button:hover span {
  padding-left: 25px;
}

.flextour-skip-button:hover span:before {
  opacity: 1;
  left: 0;
}

.flextour-back-button span:before {
  content: "<";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.flextour-back-button:hover span {
  padding-left: 25px;
}

.flextour-back-button:hover span:before {
  opacity: 1;
  left: 0;
}

.flextour-next-button span:after {
  content: ">";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.flextour-next-button:hover span {
  padding-right: 25px;
}

.flextour-next-button:hover span:after {
  opacity: 1;
  right: 0;
}
/*******************************OVERLAY STYLES***********************************/
.flextour-overlay-styles {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  /*Enough to dim the back ground*/
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}
.flextour-fixed-overlay {
  position: fixed;
}
.flextour-target-border {
  background: none !important;
  border: #2F4F4F solid 2px;
  position: absolute;
}
.flextour-target-border .interactable {
  pointer-events: none;
}
