/********************* STYLES FOR FLEX TOUR ********************/
/*** Override these variables with your own color styles ***/

@OverlayBackground: rgb(0, 0, 0, 0.5);
@Opacity: 0.3;
@BorderColor: #666;
@ShadowColor: #888;
@BubbleBackground: #FFFFFF;
@HoverColor: #4F2F2F;
@ContentColor: #000;
@ButtonColor: #206456;
@DisabledButtonColor: #333333;
@DisabledButtonBorder: #CCC;
@TitleUnderlineColor: #F00000;
@TitleTextColor: #A80000;
@HoverButtonColor: #FFFFFF;
@InnerArrowBackground: #FFFFFF;

/********************** COMMON STYLES ****************************/

.arrow-style {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  z-index: 20;
}

.icon-style {
  min-width: 40px;
  min-height: 40px;
  width: 8%;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

/********************* BUBBLES STYLE ***************************/

.flextour-tour-bubble {
  position: absolute;
  width: 400px;
  max-width: 1000px;
  height: auto;
  padding: 5px;
  background: @BubbleBackground;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 4px solid @BorderColor;
  text-align: left;
  color: @ContentColor;
  z-index: 20;
  -webkit-box-shadow: 2px 2px 4px @ShadowColor;
  -moz-box-shadow: 2px 2px 4px @ShadowColor;
  box-shadow: 2px 2px 4px @ShadowColor;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  .flextour-content {
    margin-left: 15px;
    width: 82%;
    float: left;
    padding: 10px 0 10px 0;

    .flextour-bubble-title {
      border-bottom: 2px solid @TitleUnderlineColor;
      color: @TitleTextColor;
      font-size: 14pt;
      padding-bottom: 3px;
      margin-bottom: 3px;
    }
  }
}

.flextour-content-body {
  font-size: 12pt;
}

.flextour-float-bubble {
  left: 50%;
  top: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
}

.arrow-location {
  position: relative;

  &.top {
    .arrow-style;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid @BorderColor;
    margin-left: -20px;
    bottom: -20px;
    left: 50%;

    .inner-arrow {
      .arrow-style;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 14px solid @InnerArrowBackground;
      left: -14px;
      bottom: 6px;
    }
  }

  &.bottom {
    .arrow-style;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid @BorderColor;
    margin-left: -20px;
    top: -20px;
    left: 50%;

    .inner-arrow {
      .arrow-style;
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-bottom: 14px solid @InnerArrowBackground;
      left: -14px;
      top: 6px;
    }
  }

  &.left {
    .arrow-style;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid @BorderColor;
    margin-top: -20px;
    right: -20px;
    top: 50%;

    .inner-arrow {
      .arrow-style;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-left: 14px solid @InnerArrowBackground;
      top: -14px;
      left: -20px;
    }
  }

  &.right {
    .arrow-style;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid @BorderColor;
    margin-top: -20px;
    left: -20px;
    top: 50%;

    .inner-arrow {
      .arrow-style;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-right: 14px solid @InnerArrowBackground;
      top: -14px;
      left: 6px;
    }
  }
}

.flextour-icon-info {
  background: url("icons/info.png") no-repeat;
  background-size: contain;
}

.flextour-icon-action {
  background: url("icons/action.png") no-repeat;
  background-size: contain;
}

.flextour-icon-loading {
  background: url("icons/loading.gif") no-repeat;
  background-size: contain;
}

.flextour-button-group {
  float: right;

  & > button {
    padding: 5px 20px 5px 20px;
    font-size: 10pt;
    min-width: 100px;
    text-decoration: none;
    background-color: @BubbleBackground;
    color: @ContentColor;
    cursor: pointer;
    display: inline-block;
    position: relative;

    &:hover {
      background-color: @ButtonColor;
      color: @HoverButtonColor;
    }

    &:focus {
      outline: none;
    }

    &[disabled] {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      cursor: not-allowed;

      background-color: @BubbleBackground;
      color: @DisabledButtonColor;
      border-color: @DisabledButtonBorder;
    }
  }
}

.flextour-empty-button {
  border: 2px solid transparent;
  min-width: 100px;
  display: inline-block;
}

.flextour-skip-button {
  margin-right: 15px;
  position: relative;
  border: 2px solid @ButtonColor;

  &:after {
    content: ">>";
    position: absolute;
    opacity: 0;
    right: -10px;
    transition: 0.5s;
  }

  &:hover:after {
    opacity: 1;
    right: 15px;
  }
}

.flextour-back-button {
  margin-right: 5px;
  position: relative;
  border: 2px solid @ButtonColor;

  &:after {
    content: "<";
    position: absolute;
    opacity: 0;
    left: -10px;
    transition: 0.5s;
  }

  &:hover:after {
    opacity: 1;
    left: 15px;
  }
}

.flextour-next-button {
  margin-right: 10px;
  position: relative;
  border: 2px solid @ButtonColor;

  &:after {
    content: ">";
    position: absolute;
    opacity: 0;
    right: -10px;
    transition: 0.5s;
  }

  &:hover:after {
    opacity: 1;
    right: 15px;
  }
}

.flextour-done-button {
  margin-right: 10px;
  position: relative;
  border: 2px solid @ButtonColor;

  &:after {
    content: "!";
    position: absolute;
    opacity: 0;
    right: -10px;
    transition: 0.5s;
  }

  &:hover:after {
    opacity: 1;
    right: 15px;
  }
}

a.flextour-close {
  position: absolute;
  float: right;
  top: 0;
  right: 4px;
  cursor: pointer;
  color: @ContentColor;
  font-size: 18pt;
  font-weight: bold;
  display: inline-block;
  line-height: 0;
  padding: 11px 3px;

  &:hover {
    color: @HoverColor;
  }
}

/*******************************OVERLAY STYLES***********************************/

.flextour-overlay-blocks {
  opacity: @Opacity;
}

.flextour-overlay-styles {
  position: absolute;
  z-index: 10;
  background-color: @OverlayBackground; /*Enough to dim the back ground*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.flextour-fixed-overlay {
  position: fixed;
}

.flextour-target-border {
  background: none !important;
  border: @BorderColor solid 3px;
  position: absolute;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;

  &.interactable {
    pointer-events: none;
  }
}